
* {
  box-sizing: border-box;
}
body {
    position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: pink;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.box{
  position:relative;
  border: 10px solid black;
  /* border-color:black; */
  /* border-style:solid; */
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;  /* 3 equal columns */
  grid-template-rows: 1fr 1fr 1fr;     /* 3 equal rows */
  margin-top:230px;
  width:270px;
  height: 270px;
  background-color: rgb(184, 9, 82);
  opacity:0.825;
}
.square{
  width: 100%;
  height: 100%;
  border:solid black;
}
.square img {
  width: 80%;
  height: 80%;
  object-fit: contain;
}
.title img{
  padding:20px 20px;
  height:250px;

}

